

<div class="view-pantry">

      <% if logged_in? %>
        <a href="/session/<%= session[:user_id] %>">Open your pantry</a>
      <% end %>

</div>

<div class="featured-pantry-container">
    <div class="pantry1-wrapper">
        <h3 class="pantry-names"><%= pantry1[0]['username'] %>'s Pantry</h3>
        <% pantry1.each do |item| %>
            <p><%= item['name'] %></p>
            <img src="<%= item['image_url'] %>" alt="">
            <img src="<%= item['image_upload'] %>" alt=""> 

        <% end %>
        <br><br><a href="/items/<%= pantry1[0]['user_id'] %>">Open pantry</a>
    </div>

    <div class="pantry2-wrapper">
        <h3 class="pantry-names"><%= pantry2[0]['username'] %>'s Pantry</h3>
        <% pantry2.each do |item| %>
            <p><%= item['name'] %></p>
            <img src="<%= item['image_url'] %>" alt="">
            <img src="<%= item['image_upload'] %>" alt="">

        <% end %>
        <br><br><a href="/items/<%= pantry2[0]['user_id'] %>">Open pantry</a>
    </div>

    <div class="pantry3-wrapper">
        <h3 class="pantry-names"><%= pantry3[0]['username'] %>'s Pantry</h3>
        <% pantry3.each do |item| %>
            <p><%= item['name'] %></p>
            <img src="<%= item['image_url'] %>" alt="">
            <img src="<%= item['image_upload'] %>" alt="">

        <% end %>
       <br><br><a href="/items/<%= pantry3[0]['user_id'] %>">Open pantry</a>
    </div>

    <div class="pantry4-wrapper">
        <h3 class="pantry-names"><%= pantry4[0]['username'] %>'s Pantry</h3>
        <% pantry4.each do |item| %>
            <p><%= item['name'] %></p>
            <img src="<%= item['image_url'] %>" alt="">
            <img src="<%= item['image_upload'] %>" alt="">

        <% end %>
        <br><br><a href="/items/<%= pantry4[0]['user_id'] %>">Open pantry</a>
    </div>
</div>




