


<div class="show-my-items-wrapper">

    <div class="my-items-wrapper">
        <% items.each do |item| %>
            <div class="my-item">
                
                <h3><%= item['name'] %></h3>

                <img src="<%= item['image_url'] %>" alt="">
                <img src="<%= item['image_upload'] %>" alt="">

                <p><%= item['comment'] %></p>

            </div>
        <% end %>
    </div>

    <div>
        <h2>Welcome to <%= items[0]['username'] %>'s Pantry'</h2>
        <a href="/">Return home</a>
    </div>

</div>